
.a1-bg-celtics {
  background-color: #048349;
}

.a1-bg-nets {
  background-color: #222222;
}

.a1-bg-mavericks {
  background-color: #0263B1;
}

.a1-bg-spurs {
  background-color: #000000;
}

.a1-bg-pelicans {
  background-color: #B3975A;
}

.a1-bg-grizzles {
  background-color: #11173F;
}

.a1-bg-rockets {
  background-color: #000000;
}

.a1-bg-warriors {
  background-color: #E3AC30;
}

.a1-bg-clippers {
  background-color: #1A428A;
}

.a1-bg-kings {
  background-color: #592B81;
}

.a1-bg-suns {
  background-color: #E56636;
}

.a1-bg-lakers {
  background-color: #FCB723;
}

.a1-bg-t-wolfs {
  background-color: #A0A1A2;
}

.a1-bg-okc {
  background-color: #EF3B24;
}

.a1-bg-jazz {
  background-color: #014319;
}

.a1-bg-nuggets {
  background-color: #0D2340;
}

.a1-bg-blazers {
  background-color: #000000;
}

.a1-bg-wizards {
  background-color: #002B5C;
}

.a1-bg-bulls {
  background-color: #C92343;
}

.a1-bg-hawks {
  background-color: #C7112F;
}

.a1-bg-magic {
  background-color: #0476C0;
}

.a1-bg-heat {
  background-color: #F8A01B;
}

.a1-bg-hornets {
  background-color: #250F54;
}

.a1-bg-knicks {
  background-color: #F38326;
}

.a1-bg-bucks {
  background-color: #00481C;
}

.a1-bg-pacers {
  background-color: #FCB524;
}

.a1-bg-pistons {
  background-color: #0B2340;
}

.a1-bg-cavs {
  background-color: #850138;
}

.a1-bg-raptors {
  background-color: #000000;
}

.a1-bg-76ers {
  background-color: #003DA6;
}














.a1-bg-blue {
  background-color: #253A73;
}

.wd-bg-off-white {
  background-color: #EEF3F4;
}

.a1-text-blue {
  color: #253A73;
}

.a1-bg-red {
  background-color: #B42532;
}

.a1-text-red {
  color: #B42532;
}

.a1-fill-black {
  fill: black;
}

.a1-bg-blue-lighter {
  background-color: #253A73;
  opacity: 80%;
}


.dropdown-item:hover {
  background-color: black;
}

.a1-team-page-image {
  width: 90px;
  height: 100px;
}

.a1-player-image {
  width: 60px;
  height: 50px;
}


.a1-logo-image {
  width: 20px;
  height: 20px;
}

.a1-logo-image-2 {
  width: 30px;
  height: 30px;
}

.a1-link-image-2 {
  width: 20px;
  height: 30px;
}

.a1-link-image-3 {
  width: 25px;
  height: 25px;
}

.a1-link-image-4 {
  width: 40px;
  height: 40px;
}

.a1-link-image-5 {
  width: 35px;
  height: 30px;
}

.a1-link-image-6 {
  width: 45px;
  height: 40px;
}

.a1-post-image {
  width: auto;
  height: auto;
  border-radius: 15px;
}


.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.a1-width-600px {
  width: 440px;
}

.a1-profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.a1-no-bullet-pts {
  list-style-type: none;
}

.a1-font-family {
  font-family: Roboto, arial, sans-serif;
}

.a1-font-size-12px {
  font-size: 11px;
}

.a1-fill-white {
  filter: invert(99%) sepia(100%) saturate(2%) hue-rotate(138deg) brightness(103%) contrast(100%);
}
.a1-fill-blue {
  filter: invert(19%) sepia(74%) saturate(975%) hue-rotate(197deg) brightness(90%) contrast(92%)
}

.a1-filter-black {
  filter: invert(0%) sepia(4%) saturate(0%) hue-rotate(309deg) brightness(100%) contrast(107%);
}

.a1-no_underline {
  text-decoration: none;
}

.a1-forum-background{
  background: url('../public/images/background.jpeg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 325px;
}


.a1-login-background{
  /* The image used */
  background-image: url("../public/images/background2.jpeg");
  width: 100%;
  height: 100%;
  position:fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}


.a1-title-login-pos {
  position: absolute;
  top: 15%;
  left: 18%;

}

.a1-login-section {
  background-image: linear-gradient(to right, #B42532 ,  #253A73);
  opacity: .9;
}

.a1-login-block-shift {
  bottom: 100px
}

.center_box {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.a1-image_team_page {
  width: 120px;
  height: 120px;
}

.a1-text-gradeient {
  font-size: 50px;
  background: -webkit-linear-gradient(#1AA0BC, #BC1F1A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.a1-width-content {
  width: max-content;
}

.a1-text-area {
  height: 200px;
  min-height: 200px;
  outline: none;
}

.a1-banner {
  height: 300px;
}

.a1-font-16px {
  font-size: 16px;
}

.a1-image_146_round {
  width: 146px;
  height: 146px;
  border-radius: 50%;
}

.a1-pos-profile {
  top: -73px;
  left: 20px;
}

.a1-image_100{
  width: 100px;
  height: 100px;
}




